# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Windows specific
*.spec

# Compiled Python files
*.pyc

# Logs
*.log
